# These are only necessary if you plan to run Supabase functions locally.
# Production secrets should stay in the Supabase dashboard for now.
GENERAL_EMAIL_ADDRESS=
NEWSLETTER_EMAIL_ADDRESS=
DW_EMAIL_ADDRESS=
RESEND_API_KEY=
SEND_EMAIL_HOOK_SECRET=
